#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(21, 38, 63, 1);
  width: 350px;
  height: 596px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container h2 {
  color: white;
  width: 302px;
  height: 28px;
  padding-left: 24px;
}
.container p {
  width: 302px;
  height: 52px;
  padding-left: 24px;
  color: rgba(139, 172, 217, 1);
}
.eth {
  display: flex;
  width: 301px;
  height: 20px;
  margin-left: 24px;
  gap: 100px;
}
.eth div {
  display: flex;
  width: 301px;
  height: 20px;
  justify-content: center;
  gap: 5px;
}
.line {
  width: 302px;
}
.comment {
  display: flex;
  padding-left: 24px;
  align-items: center;
  gap: 10px;
}

.box {
  justify-self: center;
  align-self: center;
  margin-top: 24px;
  height: 300px;
}

.box:hover {
  background-color: rgb(64, 195, 195);
  border-radius: 10px;
}

.box:hover .eye {
  background-image: url("./images/eye.png");
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  width: 100px;
  top: 150px;
  z-index: 5;
  left: 150px;
}

.box img {
  opacity: 0.5;
}

.aqua {
  color: white;
}

.aqua:hover {
  color: aqua;
}
